body {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: 1.5s opacity ease-in-out;
}
body.fadeout {
  opacity: 0;
  transition: none;
}
#game-header {
  height: 12vh;
}
.logo {
  background-image: url(images/banner.png);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.main-area {
  height: 70vh;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 0;
  display: flex;
}
.info-wrapper {
  display: flex;
  justify-content: space-evenly;
  height: 15vh;
}
.info-container {
  background-color: rgba(255, 205, 205, 0.418);
  width: 40vw;
  text-align: center;
  border: 4px ridge rgb(233, 161, 161);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.label, .value {
  display: inline-block;
}
.stats-container, .btn-container {
  height: 100%;
  width: 100%;
}
.reset-btn, #audio-btn, #about-btn {
  color: #494949;
  background: #d1f1f0;
  border: 2px solid #494949;
  border-radius: 6px;
  font-size: calc(.6em + .6vw);
  margin: 3px;
}
.reset-btn, #about-btn {
  width: 65%;
  height: 31%;
  margin: 0 auto;
}
#audio-btn {
  width: 30%;
  height: 31%;
}
.reset-btn:hover, #audio-btn:hover, #about-btn:hover {
  color: #ffffff;
  background: #f6b93b;
  border-color: #f6b93b;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}
.reset-btn, #about-btn {
  display: block;
}
.game-area {
  width: 100%;
  height: 100%;
  right: 0;
  display: inline-block;
}
.card-container {
  width: 16.66%;
  float: left;
  height: 33.33%;
  margin: auto;
}
.card {
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
  position: relative;
  cursor: pointer;
}
.card:hover > .back { 
  transform: scale(1.04);
  transition: all .1s ease-in-out;
}
.front, .back {
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.front {
  background-color: rgb(224, 248, 248);
  opacity: 1;
}
.image-mod {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: contain;
}
.back {
  background-image: url(images/back.jpg);
  background-position: center;
  background-size: cover;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  text-align: center;
  padding: 2%;
  top: 20%;
  border: 1px solid #888;
  border-radius: 7px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}
@keyframes animatetop {
  from {top: -500px; opacity: 0}
  to {top: 20%; opacity: 1}
}
.modal-content-win {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 2%;
  top: 20%;
  border: 1px solid #888;
  border-radius: 7px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: fadein;
  animation-duration: 0.4s
}
@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}
.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  cursor: pointer;
}
.modal-elements-center {
  text-align: center;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    body {
      font-size: 2.7em;
    }
    #game-header {
      height: 7vh;
    }
    .main-area {
      height: 80vh;
    }
    .card-container {
      width: 33.33%;
      height: 16.67%;
    }
    .info-wrapper {
      height: 12vh;
    }
    .modal-font {
      font-size: .9em;
    }
    .modal-reset-btn {
      margin-top: 2%;
      height: 15%;
      width: 40%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    body {
      font-size: 1rem;
    }
    .reset-btn, #about-btn, #audio-btn {
      display: inline-block;
      height: 95%;
      width: 23%;
      margin: 0 auto;
    }
    .modal-content {
      top: 10%;
    }
    .modal-content-win {
      top: 15%;
    }
    @keyframes animatetop {
      from {top: -500px; opacity: 0}
      to {top: 5%; opacity: 1}
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
      font-size: 2em;
    }
    #game-header {
      height: 7vh;
    }
    .main-area {
      height: 80vh;
    }
    .card-container {
      width: 33.33%;
      height: 16.67%;
    }
    .info-wrapper {
      height: 12vh;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
      font-size: 1.5rem;
    }
    .reset-btn, #about-btn, #audio-btn {
      display: inline-block;
      height: 95%;
      width: 23%;
      margin: 0 auto;
    }
}

/* ----------- iPhone X ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    body {
      font-size: 0.9em;
    }
    .modal-content {
      top: 2%;
    }
    .modal-content-win {
      top: 8%;
    }
    @keyframes animatetop {
      from {top: -500px; opacity: 0}
      to {top: 2%; opacity: 1}
    }
}
