body {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: 1.5s opacity ease-in-out;
}
body.fadeout {
  opacity: 0;
  transition: none;
}
#game-header {
  position: relative;
  height: 15%;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding: 12px 12px;
  z-index: 1;
  border-radius: 8px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#about-modal {
  text-align: center;
}
.logo {
  background-image: url(images/banner.png);
  width: 100%;
  height: 100%;
  position: inline-block;
  background-position: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}
.game-menu {
  background-color: rgba(255, 205, 205, 0.418);
  font-size: 1.25vw;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  right: 20px;
  width: 15%;
  height: 28%;
  top: 35%;
  text-align: center;
  border: 4px ridge rgb(233, 161, 161);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.links {
  display: inline-block;
  cursor: pointer;
}
.main-area {
  height: 80vh;
  font-size: 0;
  display: flex;
}
.stats-container {
  background-color: rgba(255, 205, 205, 0.418);
  width: 20%;
  height: 35%;
  text-align: center;
  display: inline-block;
  font-size: 1.2vw;
  border: 4px ridge rgb(233, 161, 161);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.game-reset {
  color: #494949;
  background: #d1f1f0;
  padding: 1vw;
  border: 2px solid #494949;
  border-radius: 6px;
  font-size: 1.25vw;
}
.game-reset:hover {
  color: #ffffff;
  background: #f6b93b;
  border-color: #f6b93b;
  transition: all 0.4s ease 0s;
  font-size: 1.25vw;
  cursor: pointer;
}
#game-area {
  width: 80%;
  height: 100%;
  right: 0;
  display: inline-block;
}
.card-container {
  width: 16.66%;
  float: left;
  height: 33.33%;
  margin: auto;
  display: flex;
}
.card {
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
  position: relative;
  cursor: pointer;
}
.front, .back {
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.front {
  background-color: rgb(224, 248, 248);
  opacity: 1;
}
.image-mod {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: contain;
}
.back {
  background-image: url(images/back.jpg);
  background-position: center;
  background-size: cover;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 1%;
  top: 20%;
  border: 1px solid #888;
  border-radius: 7px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top: -500px; opacity: 0}
  to {top: 20%; opacity: 1}
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}